PORT=3000
CORS_ORIGINS=http://localhost:5173,http://localhost:5174
BACKEND_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173

# Supabase
SUPABASE_URL=https://dummy.supabase.co
SUPABASE_KEY=cualquier_llave_falsa

JWT_SECRET=tu_jwt_secret_aqui

# Mercado Pago
MP_ACCESS_TOKEN=
MP_USER_ID=
MP_EXTERNAL_POS_ID=
MP_NOTIFICATION_URL=
MP_WEBHOOK_SECRET_QR=
MP_WEBHOOK_SKIP_VALIDATION=false

# Nubefact
NUBEFACT_URL=
NUBEFACT_TOKEN=

# WhatsApp Business (Meta)
FB_WHATSAPP_TOKEN=
FB_PHONE_NUMBER_ID=
FB_API_VERSION=v17.0
